body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

h1 {
  color: #333333;
}

p {
  margin: 10px 0;
}

#levelScreen {
  text-align: center;
  margin-top: 20px;
}

.levelButton {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

.levelButton:hover {
  background-color: #0056b3;
}

/* Animasi bergetar */
@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

/* Tambahkan kelas untuk elemen yang bergetar */
.shake {
  animation: shake 0.3s ease-in-out;
}


input[type="number"],
input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button.hidden {
  display: none;
}

button:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}

#message {
  font-size: 18px;
  font-weight: bold;
}